
:root {
    --border-main: linear-gradient(
      90deg,
      rgba(34, 161, 254, 1) 0%,
      rgba(56, 205, 229, 1) 100%
    );
  
    --linear-gradient-1: linear-gradient(rgb(0, 0, 27), aqua);
  
    /* --color-main: rgba(34, 161, 254, 1); */
    /* --color-boxshadow-sh: rgb(2, 1, 42, 100); */
  
    --color-fff-white: #ffffff;
    --color-border-333: #333333;
    --color-main: aqua;
    --color-sub-main: rgba(56, 205, 229, 1);
    --color-sub: rgb(2, 1, 42);
    --background-main: rgb(2, 1, 42);
    --background-mainopati:rgba(198, 198, 200, 0.075);
    --odd-color-1:aqua;
    transition: 2s ease-in-out;
    --box-shadow11: 0.4rem 0.4rem 1rem rgba(0, 255, 255, 0.499), -0.4rem -0.4rem 1rem rgba(2, 1, 42, 0.436);
    --box-shadow12: 0.4rem 0.4rem 1rem rgba(2, 1, 42, 0.436), -0.4rem -0.4rem 1rem rgba(0, 255, 255, 0.499);
  }
  body.activthemesSun{
    --border-main: black;
    /* --color-boxshadow-sh: white; */
    --color-fff-white: black;
    --color-border-333: black;
    --color-main: black;
    --color-sub-main: black;
    --color-sub: white;
    --background-main: white;
    --odd-color-1:white;
    transition: 2s ease-in-out;
  }
  body.activethemesMoon{
    --border-main: white;
    /* --color-boxshadow-sh: black; */
    --color-fff-white: #ffffff;
    --color-border-333: black;
    --color-main: white;
    --color-sub-main: white;
    --color-sub: black;
    --background-main: black;
    transition: 2s ease-in-out;
    --odd-color-1:white;
  }
  body.activethemesGradient{
   
    --border-main: linear-gradient(
      90deg,
      rgba(34, 161, 254, 1) 0%,
      rgba(56, 205, 229, 1) 100%
    );
  
    --linear-gradient-1: linear-gradient(rgb(0, 0, 27), aqua);
  
    /* --color-main: rgba(34, 161, 254, 1); */
    /* --color-boxshadow-sh: rgb(2, 1, 42, 100); */
  
    --color-fff-white: #ffffff;
    --color-border-333: #333333;
    --color-main: aqua;
    --color-sub-main: rgba(56, 205, 229, 1);
    --color-sub: rgb(2, 1, 42);
    --background-main: rgb(2, 1, 42);
    transition: 2s ease-in-out;
    --odd-color-1:aqua;
  
  }









@media (max-width: 900px){
    .slide2{
        justify-content: center;
        padding: 0;
        /* padding: 50px 0 0 0; */
    }
    .slide2  .centereblocs{
        width: 100%;
        margin-top: 200px;
    }
    
  }
  
  @media (max-width: 750px) {
    
  }
  
  @media (max-width: 600px) {
    
    
    @keyframes twitt {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
  @media (max-width: 430px) {
    .slide2{
        /* height: fit-content; */
    }

    .slide2  .centereblocs{
        /* margin-top: 200px; */
        /* padding-top: 300px; */
        width: 100%;
        height: fit-content;
        gap: 30px;
        margin-top: 1000px;
    }
    .slide2  .centereblocs  a.blcs{
        height: fit-content;
        background: none;
        width: 100%;
    }
    .slide2  .centereblocs  a.blcs  .bloc{
        height: fit-content;
        width: 100%;
        padding: 0;
        background: none;
    }
    .slide2  .centereblocs  a.blcs  .bloc  img{
        width: 95%;
        height: auto;
    }
  }