:root {
  --border-main: linear-gradient(
    90deg,
    rgba(34, 161, 254, 1) 0%,
    rgba(56, 205, 229, 1) 100%
  );

  --linear-gradient-1: linear-gradient(rgb(0, 0, 27), aqua);

  /* --color-main: rgba(34, 161, 254, 1); */
  /* --color-boxshadow-sh: rgb(2, 1, 42, 100); */

  --color-fff-white: #ffffff;
  --color-border-333: #333333;
  --color-main: aqua;
  --color-sub-main: rgba(56, 205, 229, 1);
  --color-sub: rgb(2, 1, 42);
  --background-main: rgb(2, 1, 42);
  --background-mainopati:rgba(198, 198, 200, 0.075);
  --odd-color-1:aqua;
  transition: 2s ease-in-out;
}
body.activthemesSun{
  --border-main: black;
  /* --color-boxshadow-sh: white; */
  --color-fff-white: black;
  --color-border-333: black;
  --color-main: black;
  --color-sub-main: black;
  --color-sub: white;
  --background-main: white;
  --odd-color-1:white;
  transition: 2s ease-in-out;
}
body.activethemesMoon{
  --border-main: white;
  /* --color-boxshadow-sh: black; */
  --color-fff-white: #ffffff;
  --color-border-333: black;
  --color-main: white;
  --color-sub-main: white;
  --color-sub: black;
  --background-main: black;
  transition: 2s ease-in-out;
  --odd-color-1:white;
}
body.activethemesGradient{
 
  --border-main: linear-gradient(
    90deg,
    rgba(34, 161, 254, 1) 0%,
    rgba(56, 205, 229, 1) 100%
  );

  --linear-gradient-1: linear-gradient(rgb(0, 0, 27), aqua);

  /* --color-main: rgba(34, 161, 254, 1); */
  /* --color-boxshadow-sh: rgb(2, 1, 42, 100); */

  --color-fff-white: #ffffff;
  --color-border-333: #333333;
  --color-main: aqua;
  --color-sub-main: rgba(56, 205, 229, 1);
  --color-sub: rgb(2, 1, 42);
  --background-main: rgb(2, 1, 42);
  transition: 2s ease-in-out;
  --odd-color-1:aqua;

}




.mainbody{
  background: var(--background-main);
  color: var(--color-main);
}

.slider{
  position: relative;
  background: var(--background-main);
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  /* margin: 50px 0; */
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: 1s;
  box-shadow: 0 0 300px var(--background-main);
}

.slider .slide.active{

  height: 100%;
  opacity: 1;

}

.slider > .slide > img{
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  box-shadow: 0 0 300px var(--background-main);

  
}

.slider .slide .info{
  position: absolute;
  color: var(--color-main);
  background: var(--background-main);
  width: 100%;
  /* margin-top: 50px;
  margin-left: 50px; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px var(--background-main);
  transition: .1s;
  opacity: 0;
}
.slider .slide.active .info{
opacity: 1;
}


.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0; */
  opacity: 0;
  transition: opacity 0.5s ease;
  /* background: red; */
  cursor: pointer;
  position: absolute;
  right: -22px;
  /* bottom: 60px; */
  transform: rotate(90Deg);
  z-index: 1000;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn, .pause-btn, .play-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: var(--background-main);
color: var(--color-main);
  font-size: 20px;
  padding: 10px;
  opacity: .6;
  
}
.prev-btn:hover, .next-btn:hover, .pause-btn:hover, .play-btn:hover{
  /* color: var(--color-sub-main); */
  opacity: 1;
  
}
.pause-btn, .play-btn{
  visibility: hidden;
}

.prev-btn, .play-btn, .next-btn{ 
  border-radius: 5px; 
}

 

/* <!-- header slider socials starts --> */

.socialsM{
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-top: 50px;
  background: var(--background-main);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: -120px;
}
.blur{
  width: 100%;
  height: 1px;
  background: var(--background-main);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.blur.active{
  height: 100vh;
  opacity: .7;
  /* box-shadow:inset 0 0 150px black; */
}
.socialsM.active{
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
}
.socialsM .chevro{
  color: var(--color-main);
  font-size: 22px;
  padding: 15px;
  border-radius: 100%;
  background: var(--background-main);
  position: absolute;
  top: -30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.socialsM .chevro::before{
  content: '';
  background: transparent;
  position: absolute;
  left: -37px;
  top: -9px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 15px 5px 0 -5px var(--background-main);
  transform: rotate(45deg);
}
.socialsM .chevro .chedown{
  display: none !important;
}
.socialsM .chevro .cheup, .socialsM .chevro .chedown{
  border: 2px solid var(--color-main);
  border-radius: 100%;
  position: absolute;
  padding: 3px;
  opacity: .6;
  animation: animate_updonics 0.3s linear infinite alternate-reverse;
}
.socialsM .chevro:hover .cheup, .socialsM .chevro:hover .chedown{
  opacity: 1;
  animation:none;
}

.socialsM.active .chevro .chedown{
  display: flex !important;
  
}
.socialsM.active .chevro .cheup{
  display: none !important;
}
@keyframes animate_updonics {
from {
  opacity: 0.5;
}
to {
  opacity: 1;
}
}
.updonics .shevron_header:hover {
opacity: 1;
}

.socialsM .chevro::after{
  content: '';
  background: transparent;
  position: absolute;
  right: -37px;
  top: -9px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 15px 5px 0 -5px var(--background-main);
  transform: rotate(100deg);
}





.socialsM .social-media{
  background: var(--background-main);
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  padding: 0 40px 20px 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  opacity: 0;
}
.socialsM.active .social-media{
  opacity: 1;
}

.socialsM .social-media a{
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--background-mainopati);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  opacity: .8;
  transition: .5s;
}
.socialsM .social-media a:hover{
  opacity: 1;
  background: var(--background-main);
}

.socialsM .social-media a i{
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 5px;
  height: 5px;
  background: var();
  border-radius: 10px;
  color: var(--color-main);
  transition: .3s;

}

.socialsM .social-media a:hover i{
  font-size: 30px;
  width: 100%;
  height: 100%;
  color: var(--background-main);
  background: var(--color-main);
}
/* <!-- header slider socials ends --> */


/* ======== Responsive ======= */
@media (max-width: 963px){
  .socialsM{
    bottom: -200px;
  }
}
@media (max-width: 900px){

  /* .slider .slide .info{
    overflow: auto;
  } */

  .navigation-visibility{
    display: none;
  }
  .pause-btn, .play-btn{
    right: 14px;
    visibility: visible;
  }
  .navigation{
    opacity: 1;

  }
  .slider .slide{
    width: 5%;
    height: 100%;
  }
  
  .slider .slide.active{
    width: 100%;
  }
  .prev-btn, .next-btn, .pause-btn{
    font-size: 14px;
  }

  .socialsM{
    bottom: -180px;
  }

  .socialsM .social-media a{
    border: 2px solid var(--color-main);
  }


  .navigation{
    gap: 20px;
    opacity: 1;
    right: 0;
    bottom: 3px;
    transform: rotate(0);
    width: 100%;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    background: var(--background-main);
    padding: 5px;
    border-radius: 10px;
  }


  .prev-btn, .next-btn, .pause-btn, .play-btn{
    background: var(--color-sub-main);
    color: var(--background-main);
    padding:7px;
  }



  
}

@media (max-width: 508px){
  .socialsM{
    bottom: -270px;
  }
  
}
@media only screen and (max-width: 418px){
  .socialsM{
    bottom: -350px;
  }
  .socialsM .social-media{
    /* opacity: 1; */
  }
}
@media only screen and (max-width: 330px) {
  .socialsM{
    bottom: -360px;
  }
}
@media only screen and (max-width: 326px) {
  .socialsM{
    bottom: -450px;
  }
}
